<%= form_for(@push, :role => 'form') do |f| %>
  <% if @push.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@push.errors.count, "error") %> prohibited this push from being saved:</h2>

      <ul>
      <% @push.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <table>
      <td width="150">
        <div class="lead">
        <%= f.label :公司 %><br>
        <%= f.select :competitor_id, options_from_collection_for_select(@competitors, :id, :name), class: "selectpicker" %>
        </div>
      </td>
      <td>
        <div class="lead">
        <%= f.label :类型 %><br>
        <%= f.select :type_id, options_from_collection_for_select(@push_types, :id, :name) %>
        </div>
      </td>
    </table>
  </div>
  <div class="input-group input-group-lg lead">
      <%= f.label :时间 %><br>
      <%= f.datetime_select :p_date %>
  </div>
  <br>
  <div class="input-group input-group-lg lead">
    <%= f.label :内容描述 %><br>
    <%= f.text_area :content, :placeholder => "请输入推送内容"%>
  </div>
  <div><%= f.submit "保存", :id => "submit_button", :class=>'btn btn-default btn-lg'%></div>
<% end %>
